head,body{
  width: 100%;
  height: 100%;
  padding: 0 auto;
} 

.listall{
  width: 100%;
  max-width: 1200px;
  height: calc(100% - 30px);
  position: relative;
  display: block;
  margin: 0 auto;
  align-items: center;

}

.list-box{
  /* width: 50vh; */
  margin: 16px 16px;
  padding: 16px 16px;
  border: 1px solid #000;
}

.title{
  align-items: center;
  display: flex;
  padding-right: 2rem;
}

.title-data{
  padding-right: 1rem;
  font-size: 16px;
  font-weight: 500;
}

.title-text{
  position:relative;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: rgba(32,35,42,.1);
}

.good-btn{
  cursor: pointer;
  overflow: hidden;
}